@font-face {
  font-family: 'Instrument Serif';
  src: url('FTL_ASSETS/InstrumentSerif-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* Custom Cursor Configuration */

/* Default cursor - applied to the entire document */
* {
  cursor: url('FTL_ASSETS/FTL_BULLET_CURSOR.cur'), auto;
}
